<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.dao.commonMapper">

    <!-- 功能权限 -->
    <resultMap type="com.zhou.entity.SysAction" id="SysActionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 功能权限关系 -->
    <resultMap type="com.zhou.entity.SysActionPermissionRelation" id="SysActionPermissionRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="actionId" column="action_id" jdbcType="INTEGER"/>
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 权限 -->
    <resultMap type="com.zhou.entity.SysPermission" id="SysPermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 资源 -->
    <resultMap type="com.zhou.entity.SysResources" id="SysResourcesMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remake" column="remake" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 资源角色关系 -->
    <resultMap type="com.zhou.entity.SysResourcesRoleRelation" id="SysResourcesRoleRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="resourcesId" column="resources_id" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 角色 -->
    <resultMap type="com.zhou.entity.SysRole" id="SysRoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleDescription" column="role_description" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 角色权限关系 -->
    <resultMap type="com.zhou.entity.SysRolePermissionRelation" id="SysRolePermissionRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 用户 -->
    <resultMap type="com.zhou.entity.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="enabled" jdbcType="OTHER"/>
        <result property="accountNonExpired" column="account_non_expired" jdbcType="OTHER"/>
        <result property="accountNonLocked" column="account_non_locked" jdbcType="OTHER"/>
        <result property="credentialsNonExpired" column="credentials_non_expired" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 用户角色 -->
    <resultMap type="com.zhou.entity.SysUser" id="SysUserRoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="enabled" jdbcType="OTHER"/>
        <result property="accountNonExpired" column="account_non_expired" jdbcType="OTHER"/>
        <result property="accountNonLocked" column="account_non_locked" jdbcType="OTHER"/>
        <result property="credentialsNonExpired" column="credentials_non_expired" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
        <collection property="roles"  ofType="com.zhou.entity.SysRole">
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleDescription" column="role_description" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <!-- 用户角色关系 -->
    <resultMap type="com.zhou.entity.SysUserRoleRelation" id="SysUserRoleRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
