<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.dao.SysActionDao">
    <!-- 列名 -->
    <sql id="columns">id, name, code</sql>

    <!-- 表名 -->
    <sql id="tablename">sys_action</sql>

    <!-- 插入-->
    <insert id="insert" parameterType="com.zhou.entity.SysAction">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="columns"/>)
        VALUES(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
    </insert>

    <!-- 单个删除 -->
    <delete id="deleteOne" parameterType="java.lang.Object">
        DELETE
        <include refid="tablename"/>
        WHERE id = #{id}
    </delete>

    <!-- 条件删除 -->
    <delete id="deleteByCondition" parameterType="com.zhou.entity.SysAction">
        DELETE
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </delete>

    <!-- 单个查询 -->
    <select id="selectOne" parameterType="java.lang.Object" resultMap="com.zhou.dao.commonMapper.SysActionMap">
        SELECT
        <include refid="columns"/>
        FROM<include refid="tablename"/>WHERE id =#{id}
    </select>

    <!-- 单个条件查询 -->
    <select id="selectOneByCondition" parameterType="com.zhou.entity.SysAction"
            resultMap="com.zhou.dao.commonMapper.SysActionMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <!-- 查询全部-无条件 -->
    <select id="selectAll" resultMap="com.zhou.dao.commonMapper.SysActionMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
    </select>

    <!-- 查询全部-有条件 -->
    <select id="selectAllByCondition" parameterType="com.zhou.entity.SysAction"
            resultMap="com.zhou.dao.commonMapper.SysActionMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <!-- 通过ID更新 -->
    <update id="updateById">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.name != null and source.name != ''">name = #{source.name},</if>
            <if test="source.code != null and source.code != ''">code = #{source.code},</if>
        </set>
        WHERE id =#{id}
    </update>

    <!-- 通过条件更新 -->
    <update id="updateByCondition">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.name != null and source.name != ''">name = #{source.name},</if>
            <if test="source.code != null and source.code != ''">code = #{source.code},</if>
        </set>
        <where>
            <if test="condition.id != null">and id = #{condition.id}</if>
            <if test="condition.name != null and condition.name != ''">and name = #{condition.name}</if>
            <if test="condition.code != null and condition.code != ''">and code = #{condition.code}</if>
        </where>
    </update>

</mapper>