<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.dao.SysRoleDao">

    <!-- 列名 -->
    <sql id="columns">id, role_code, role_name, role_description</sql>

    <!-- 表名 -->
    <sql id="tablename">sys_role</sql>


    <resultMap type="com.zhou.entity.SysRole" id="SysRoleResourceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleDescription" column="role_description" jdbcType="VARCHAR"/>
        <collection property="routes" ofType="com.zhou.entity.SysResources">
            <result property="id" column="resources_id" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <!-- 查询全部-无条件 -->
    <select id="getResourceRole" parameterType="java.util.List" resultMap="SysRoleResourceMap">
    select sr.*,srrr.resources_id from sys_role sr left join sys_resources_role_relation srrr on srrr.role_id = sr.id
        <if test="ids != null and ids.size() > 0">
            <where>sr.id in <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
            </where>
        </if>
    </select>





    <!-- 插入-->
    <insert id="insert" parameterType="com.zhou.entity.SysRole">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="columns"/>)
        VALUES(#{id,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
        #{roleDescription,jdbcType=VARCHAR})
    </insert>

    <insert id="insertGeneratedKeys"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="columns"/>)
        VALUES(#{id,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
        #{roleDescription,jdbcType=VARCHAR})
    </insert>

    <!-- 单个删除 -->
    <delete id="deleteOne" parameterType="java.lang.Object">
        DELETE
        FROM
        <include refid="tablename"/>
        WHERE id = #{id}
    </delete>

    <!-- 条件删除 -->
    <delete id="deleteByCondition" parameterType="com.zhou.entity.SysRole">
        DELETE
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleCode != null and roleCode != ''">and role_code = #{roleCode}</if>
            <if test="roleName != null and roleName != ''">and role_name = #{roleName}</if>
            <if test="roleDescription != null and roleDescription != ''">and role_description = #{roleDescription}</if>
        </where>
    </delete>

    <!-- 单个查询 -->
    <select id="selectOne" parameterType="java.lang.Object" resultMap="com.zhou.dao.commonMapper.SysRoleMap">
        SELECT
        <include refid="columns"/>
        FROM<include refid="tablename"/>WHERE id =#{id}
    </select>

    <!-- 单个条件查询 -->
    <select id="selectOneByCondition" parameterType="com.zhou.entity.SysRole"
            resultMap="com.zhou.dao.commonMapper.SysRoleMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleCode != null and roleCode != ''">and role_code = #{roleCode}</if>
            <if test="roleName != null and roleName != ''">and role_name = #{roleName}</if>
            <if test="roleDescription != null and roleDescription != ''">and role_description = #{roleDescription}</if>
        </where>
    </select>

    <!-- 查询全部-无条件 -->
    <select id="selectAll" resultMap="com.zhou.dao.commonMapper.SysRoleMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
    </select>

    <!-- 查询全部-有条件 -->
    <select id="selectAllByCondition" parameterType="com.zhou.entity.SysRole"
            resultMap="com.zhou.dao.commonMapper.SysRoleMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleCode != null and roleCode != ''">and role_code = #{roleCode}</if>
            <if test="roleName != null and roleName != ''">and role_name = #{roleName}</if>
            <if test="roleDescription != null and roleDescription != ''">and role_description = #{roleDescription}</if>
        </where>
    </select>

    <!-- 通过ID更新 -->
    <update id="updateById">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.roleCode != null and source.roleCode != ''">role_code = #{source.roleCode},</if>
            <if test="source.roleName != null and source.roleName != ''">role_name = #{source.roleName},</if>
            <if test="source.roleDescription != null and source.roleDescription != ''">role_description =
                #{source.roleDescription},
            </if>
        </set>
        WHERE id =#{id}
    </update>

    <!-- 通过条件更新 -->
    <update id="updateByCondition">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.roleCode != null and source.roleCode != ''">role_code = #{source.roleCode},</if>
            <if test="source.roleName != null and source.roleName != ''">role_name = #{source.roleName},</if>
            <if test="source.roleDescription != null and source.roleDescription != ''">role_description =
                #{source.roleDescription},
            </if>
        </set>
        <where>
            <if test="condition.id != null">and id = #{condition.id}</if>
            <if test="condition.roleCode != null and condition.roleCode != ''">and role_code = #{condition.roleCode}
            </if>
            <if test="condition.roleName != null and condition.roleName != ''">and role_name = #{condition.roleName}
            </if>
            <if test="condition.roleDescription != null and condition.roleDescription != ''">and role_description =
                #{condition.roleDescription}
            </if>
        </where>
    </update>

</mapper>