<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.dao.SysResourcesRoleRelationDao">

    <!-- 列名 -->
    <sql id="columns">id, role_id, resources_id</sql>

    <!-- 表名 -->
    <sql id="tablename">sys_resources_role_relation</sql>

    <!-- 插入-->
    <insert id="insert" parameterType="com.zhou.entity.SysResourcesRoleRelation">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="columns"/>)
        VALUES(#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{resourcesId,jdbcType=INTEGER})
    </insert>

    <!-- 单个删除 -->
    <delete id="deleteOne" parameterType="java.lang.Object">
        DELETE
        <include refid="tablename"/>
        WHERE id = #{id}
    </delete>

    <!-- 条件删除 -->
    <delete id="deleteByCondition" parameterType="com.zhou.entity.SysResourcesRoleRelation">
        DELETE
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleId != null">and role_id = #{roleId}</if>
            <if test="resourcesId != null">and resources_id = #{resourcesId}</if>
        </where>
    </delete>

    <!-- 单个查询 -->
    <select id="selectOne" parameterType="java.lang.Object"
            resultMap="com.zhou.dao.commonMapper.SysResourcesRoleRelationMap">
        SELECT
        <include refid="columns"/>
        FROM<include refid="tablename"/>WHERE id =#{id}
    </select>

    <!-- 单个条件查询 -->
    <select id="selectOneByCondition" parameterType="com.zhou.entity.SysResourcesRoleRelation"
            resultMap="com.zhou.dao.commonMapper.SysResourcesRoleRelationMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleId != null">and role_id = #{roleId}</if>
            <if test="resourcesId != null">and resources_id = #{resourcesId}</if>
        </where>
    </select>

    <!-- 查询全部-无条件 -->
    <select id="selectAll" resultMap="com.zhou.dao.commonMapper.SysResourcesRoleRelationMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
    </select>

    <!-- 查询全部-有条件 -->
    <select id="selectAllByCondition" parameterType="com.zhou.entity.SysResourcesRoleRelation"
            resultMap="com.zhou.dao.commonMapper.SysResourcesRoleRelationMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tablename"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleId != null">and role_id = #{roleId}</if>
            <if test="resourcesId != null">and resources_id = #{resourcesId}</if>
        </where>
    </select>

    <!-- 通过ID更新 -->
    <update id="updateById">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.roleId != null">role_id = #{source.roleId},</if>
            <if test="source.resourcesId != null">resources_id = #{source.resourcesId},</if>
        </set>
        WHERE id =#{id}
    </update>

    <!-- 通过条件更新 -->
    <update id="updateByCondition">
        UPDATE
        <include refid="tablename"/>
        <set>
            <if test="source.roleId != null">role_id = #{source.roleId},</if>
            <if test="source.resourcesId != null">resources_id = #{source.resourcesId},</if>
        </set>
        <where>
            <if test="condition.id != null">and id = #{condition.id}</if>
            <if test="condition.roleId != null">and role_id = #{condition.roleId}</if>
            <if test="condition.resourcesId != null">and resources_id = #{condition.resourcesId}</if>
        </where>
    </update>

</mapper>