spring:
  application:
    name: security
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://111.229.237.223:3306/video-db?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=CTT
    username: root
    password: 5af4b11b75075e4d
    hikari:
      # 最小连接数
      minimum-idle: 5
      # 空闲超时时间
      idle-timeout: 600000
      # 最大连接池大小
      maximum-pool-size: 10
      # 自动提交
      auto-commit: true
      pool-name: MyHikariCP
      # 用来设置一个connection在连接池中的存活时间，默认是1800000，即30分钟。如果设置为0，表示存活时间无限大。如果不等于0且小于30秒则会被重置回30分钟。
      max-lifetime: 1800000
      # 连接超时时间
      connection-timeout: 30000
      # 连接测试查询
      connection-test-query: SELECT 1
server:
  port: 8000
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  # 实体扫描，多个package用逗号或者分号分隔
  type-aliases-package: com.zhou.**
  global-config:
    db-config:
      # auto数据库id自增
      id-type: auto
      # 字段策略 非空判断
      field-strategy: not_empty
  configuration:
    # 开启数据库与实体类中属性支持驼峰模式对应
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
sdk:
  tengxun:
    accessKey: AKIDZ7OOAf8rckhOp4TnFewyjDj015jbnagX #对象存储key
    secretKey: lHVZsvhDTU4OcEafT1JK4VIp66qzrSws #对象存储secretKey
    bucketImg: ap-nanjing
    bucketVideo: ap-shanghai
    bucketImgName: img-1258165247
    bucketVideoName: video-1258165247
    pathImg: https://img-1258165247.cos.ap-nanjing.myqcloud.com
    pathVideo: https://video-1258165247.cos.ap-shanghai.myqcloud.com
    qianzui: